/*===========Body===============*/

* {
	box-sizing: border-box;
}

body {
    font-family: "Muli", sans-serif;
    background-color: dodgerblue;
}

ul {
    list-style: none;
    padding: 0;  
  }

/*===========Main Header===============*/
.main-header {
    background:
    linear-gradient(transparent, whitesmoke 95%),
        url(../images/newYorkCity.jpg);
    background-size: cover;
    margin: 0 auto;
    border: 3px solid yellow;
    padding: 10px;
}

h1 {
    color: black;
}

/*===========Second Section===============*/

.second-section {
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    padding: 10px 20px;
    margin-top: 30px;
}

.profilePic {
    border: 2px solid black;
    width: 250px;
    margin: 0 auto;
}

/*===========Navigation===============*/

.name {
    color: white;
    font-size: 1.2em;
    margin-top: 40px;
}

li {
    text-align: center;
    font-size: 1.2em;
    margin: 30px 0;
}

.name, 
nav li {
    font-family: Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
}

nav li a {
    text-decoration: none;
}

nav li a:link,
nav li a:visited {
    color: white;
}

nav li a:hover {
    color: black;
}

/*===========Main===============*/

h3 {
    color: black;
    font-size: 2em;
}

#skills {
    margin-bottom: 70px;
}

#skills,
#portfolio {
    font-size: 3em;
    text-decoration: underline;
}

.content {
    perspective: 700px;
}

.top {
    transition: transform 1s ease-out;
}

.top:hover {
    transform: rotate3d(1, 0, 0, 180deg);
}

.side-b {
    z-index: 100;
}

.container-portf,
.container-skills {
    background-color: dodgerblue;
    color: white;
    text-align: center;
    
    padding: 10px 20px;
    margin-top: 30px;
}

.container-portf p,
.container-skills p {
    font-size: 20px;
    line-height: 1.5;
}

.port-images,
.skills-images {
    border: 5px solid black;
}

.port-images:hover,
.skills-images:hover {
    border-color: lightblue;
}

.port-images {
    width: 100%;
}

.skills-images {
    height: 150px;
    width: 150px;
}

/*===========Footer===============*/

.main-footer {
    background: 
        linear-gradient(transparent, whitesmoke 85%),
        url(../images/cityViewOne.jpg);
    border: 3px solid yellow;
    padding: 10px 20px;
}

.firstFooterHalf {
    text-align: center;
    color: black;
    line-height: 1.5;
    font-size: 20px;
    font-weight: bolder;
    border-bottom: 2px solid black;
}

.firstFooterHalf a:link {
    color: black;
}

.firstFooterHalf a:hover{
    color: blue;
}

.firstFooterHalf a:visited{
    color: black;
}

.studentName {
    float: left;
    margin: 0;
}

.toTop {
    text-align: right;
}

.toTop a:link {
    color: black;
    text-decoration: none;
}

.toTop a:visited {
    color: black;
}


.toTop a:hover {
    color: blue;
}

h4 {
    font-size: 20px;
}
/*===========Media Queries===============*/

@media (min-width: 768px) {
    .name, 
    .main-nav,
    nav li  {
        display: inline;
    }

    .name {
        float: left;
        margin-top: 15px;
    }

    .name,
    nav li {
        border: 3px solid white;
    }
    .main-nav{
        float: right;
        margin-top: 30px;
    }

    .toTop {
        visibility: hidden;
    }

    .studentName {
        color: white;
        font-size: 2em;
        float: left;
        margin-top: 20px;
    }

    .footerNav {
        margin-top: -50px;
    }

    .work {
        width: 50%;
        float: left;
    }

    #leader {
        width: 100%;
        margin-top: 20px;
    }

    .main-footer,
    .main-header {
        background: linear-gradient(darkblue,dodgerblue);
    }

    .profilePic {
        float:right;
    }

    .second-section{
        float: left;
        font-size: 1.5em;
    }

    .clearfix::after {
        content: " ";
        display: table;
        clear: both;
      
    }
}

@media (min-width: 1024px) {

    .work,
    #leader {
        width: 33%;
        float: left;
        padding-right: 20px;
    }

    .skillsTwo {
        width: 50%;
    }

    #leader {
        margin-top: 0;
    }
}


@media (max-width: 767px) {
    .footerNav {
        visibility: hidden;
    }
}

