/*===========Body===============*/

* {
	box-sizing: border-box;
}

body {
    background-color: white;
}


/*===========Main Header===============*/
.main-header {
    background-color:pink;
    margin: 0 auto;
    border: 3px solid yellow;
    padding-left: 20px;
    padding-right: 20px;
}

h1 {
    color: black;
}

/*===========Navigation===============*/

.name {
    color: blue;
    margin-top: 0;
}

li {
    text-align: center;
    list-style-type: none;
    font-size: 1em;
    margin: 40px 0;
}

.name, 
nav li a {
    text-align: center;
    background-color: white;
    padding: 10px 15px;
    
}

/*===========Main===============*/

h3 {
    color: black;
    font-size: 2em;
}

.container-portf {
    background-color: gray;
    color: white;
    text-align: center;

    padding: 10px 20px;
    margin-top: 30px;
}

.container-portf p {
    font-size: 20px;
    line-height: 1.5;
}

.port-images {
    width: 100%;
    border: 5px solid black;
}

.port-images:hover {
    border-color: lightblue;
}

/*===========Footer===============*/

.main-footer {
    background-color: skyblue;
    padding: 10px 20px;
}

.firstFooterHalf {
    text-align: center;
    color: white;
    line-height: 1.5;
    font-size: 20px;

    border-bottom: 2px solid gray;
}

.firstFooterHalf a:link {
    color: orange;
}

.firstFooterHalf a:hover{
    color: blue;
}

.firstFooterHalf a:visited{
    color: orange;
}


/*===========Media Queries===============*/

@media (min-width: 768px) {
       
    }


@media (max-width: 767px) {
    .footerNav {
        visibility: hidden;
    }
}

